/* line 17, ../../../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'BryantPro';
  src: url("../fonts/BryantPro-BoldAltNo1.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/BryantPro-BoldAltNo1.eot?#iefix") format("embedded-opensourceentype"), url("../fonts/BryantPro-BoldAltNo1.woff") format("woff"), url("../fonts/BryantPro-BoldAltNo1.ttf") format("truetype"), url("../fonts/BryantPro-BoldAltNo1.svt#BryantPro") format("svg");
  /* Legacy iOS */
}

/* line 31, ../sass/screen.scss */
body {
  font-family: BryantPro, Helvetica, Arial, san-serif;
}

/* line 34, ../sass/screen.scss */
p {
  font-size: 1.2em;
  line-height: 1.4em;
}
/* line 37, ../sass/screen.scss */
p a {
  color: #68b481;
}

/* line 41, ../sass/screen.scss */
.button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: #68b481;
  max-width: 100%;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
/* line 19, ../sass/screen.scss */
.button:hover {
  color: #000;
}

/* line 44, ../sass/screen.scss */
.main {
  width: 90%;
  padding: 1.5em 5%;
  border: solid 1px #000;
}

/* line 47, ../sass/screen.scss */
a:hover {
  color: #68b481;
}

/* line 50, ../sass/screen.scss */
h1 {
  font-size: 3.6em;
  text-align: center;
  margin: 1em 0 0.2em;
}

/* line 55, ../sass/screen.scss */
h2 {
  font-size: 2.4em;
  text-align: center;
  margin-bottom: 0.8em;
}

/* line 60, ../sass/screen.scss */
h3 {
  font-size: 1.6em;
  margin-bottom: 0.5em;
}

/* line 64, ../sass/screen.scss */
a {
  color: #000;
  text-decoration: none;
}

/* line 68, ../sass/screen.scss */
img, iframe, embedd {
  max-width: 100%;
}

/* line 71, ../sass/screen.scss */
img {
  height: auto;
}

/* line 74, ../sass/screen.scss */
article {
  margin-bottom: 1em;
  overflow: hidden;
}

/* line 78, ../sass/screen.scss */
#primary {
  clear: both;
}

/* line 82, ../sass/screen.scss */
.home h3 {
  margin: 0.5em 0 0.3em;
  font-size: 2.4em;
}
/* line 86, ../sass/screen.scss */
.home article {
  margin-bottom: 2em;
}
/* line 89, ../sass/screen.scss */
.home .widget_pageexcerptwidget {
  text-align: center;
}
/* line 92, ../sass/screen.scss */
.home .widget_pageexcerptwidget p {
  text-align: left;
  margin-top: 1em;
  -webkit-columns: 20em 2;
  -moz-columns: 20em 2;
  -ms-columns: 20em 2;
  -o-columns: 20em 2;
  columns: 20em 2;
}

/* line 98, ../sass/screen.scss */
.page-image-holder {
  text-align: center;
  margin-bottom: 1em;
}

/* line 102, ../sass/screen.scss */
.page .entry-content {
  -webkit-columns: 20em 2;
  -moz-columns: 20em 2;
  -ms-columns: 20em 2;
  -o-columns: 20em 2;
  columns: 20em 2;
}

/* line 105, ../sass/screen.scss */
.logo {
  margin: 2em 0;
  display: block;
}

/* line 109, ../sass/screen.scss */
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

/* line 113, ../sass/screen.scss */
.banner {
  width: 100%;
  height: 2em;
  background: #000;
}

/* line 118, ../sass/screen.scss */
.circle {
  color: #FFF;
  font-size: 2em;
  background: #000;
  padding: 1.5em;
  width: 4em;
  height: 4em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

/* line 127, ../sass/screen.scss */
.uxu-mobile-menu {
  text-transform: uppercase;
  font-size: 2em;
  display: none;
}

/* line 132, ../sass/screen.scss */
.page-header {
  position: relative;
}

/* line 135, ../sass/screen.scss */
.header-menu {
  width: 100%;
  float: left;
  border: solid 1px #000;
  text-transform: uppercase;
}
/* line 140, ../sass/screen.scss */
.header-menu .current_page_item {
  background: #000;
}
/* line 142, ../sass/screen.scss */
.header-menu .current_page_item a {
  color: #FFF;
}
/* line 146, ../sass/screen.scss */
.header-menu li {
  width: 12.5%;
  text-align: center;
  float: left;
  border-left: solid 1px #000;
  border-right: solid 1px #000;
}
/* line 153, ../sass/screen.scss */
.header-menu a {
  display: block;
  width: 100%;
  padding: 0.5em 0;
}
/* line 158, ../sass/screen.scss */
.header-menu a.uxu-change-lang {
  position: absolute;
  top: 1em;
  right: 0;
  width: auto;
}

/* line 165, ../sass/screen.scss */
.usermenu {
  float: left;
  width: 12.5%;
  padding: 0;
  position: relative;
}
/* line 170, ../sass/screen.scss */
.usermenu ul {
  position: absolute;
  width: 100%;
}
/* line 174, ../sass/screen.scss */
.usermenu li:first-child {
  display: block;
}
/* line 177, ../sass/screen.scss */
.usermenu li {
  display: none;
  background: #FFF;
  width: 94%;
  padding-left: 3%;
  padding-right: 3%;
}

/* line 185, ../sass/screen.scss */
.uxu-ticket-status {
  width: 90%;
  padding: 1.5em 5%;
  border: solid 1px #000;
  border: solid 1px #000;
  overflow: hidden;
  float: left;
}
/* line 190, ../sass/screen.scss */
.uxu-ticket-status h3 {
  font-size: 1.3em;
  float: left;
  max-width: 56%;
}
/* line 195, ../sass/screen.scss */
.uxu-ticket-status #uxu-ticket-status-festival-length, .uxu-ticket-status u {
  color: #ff8369;
  text-decoration: none;
}
/* line 199, ../sass/screen.scss */
.uxu-ticket-status u {
  white-space: nowrap;
}

/* line 203, ../sass/screen.scss */
.uxu-ticket-button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: #68b481;
  max-width: 100%;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 0.6em 3em;
  float: right;
}
/* line 19, ../sass/screen.scss */
.uxu-ticket-button:hover {
  color: #000;
}
/* line 207, ../sass/screen.scss */
.uxu-ticket-button span {
  text-align: center;
  padding: 0.2em 0 0 0;
  display: block;
  line-height: 0.6em;
  font-size: 1.2em;
}

/* line 215, ../sass/screen.scss */
.uxu-next-step {
  float: left;
  padding: 0.5em 0;
  margin: 0 2%;
}

/* line 222, ../sass/screen.scss */
.uxu-frontpage-first iframe {
  width: 100%;
}

/* line 226, ../sass/screen.scss */
.uxu-frontpage-fourth, .uxu-frontpage-third {
  width: 90%;
  padding: 1.5em 5%;
  border: solid 1px #000;
  margin: 0 auto;
  border: solid 1px #000;
  margin: 1em 0;
}

/* line 232, ../sass/screen.scss */
.home .widget_uxu_video_widget {
  width: 80%;
  margin: 2em 10%;
  text-align: center;
}
/* line 236, ../sass/screen.scss */
.home .widget_uxu_video_widget h2 {
  margin-bottom: 0.5em;
}

/* line 240, ../sass/screen.scss */
.message {
  background: #68b481;
  width: 96%;
  padding: 1em 2%;
  margin: 1em 0;
}

/* line 246, ../sass/screen.scss */
.error {
  width: 96%;
  padding: 1em 2%;
  margin: 1em 0;
  background: #FF7373;
}

/* line 252, ../sass/screen.scss */
.uxu-login-register-box {
  float: right;
  border: solid 1px #000;
  width: 45%;
  padding: 1em 1%;
  margin: 0;
}
/* line 258, ../sass/screen.scss */
.uxu-login-register-box label {
  display: block;
}
/* line 261, ../sass/screen.scss */
.uxu-login-register-box input {
  width: 98%;
  border: solid 1px #DDD;
  font-size: 1.2em;
  padding: 0.5em 1%;
}
/* line 267, ../sass/screen.scss */
.uxu-login-register-box .submit input {
  cursor: pointer;
  border: none;
  background: #68b481;
  color: #FFF;
}

/* line 274, ../sass/screen.scss */
.uxu-tml-text {
  float: left;
  width: 46%;
  padding: 1%;
  margin-right: 2%;
}

/* line 280, ../sass/screen.scss */
.uxu-facebook-button {
  float: left;
  display: block;
  width: 90%;
  margin: 1em 0;
  padding: 1em 5%;
  text-align: center;
}

/* line 288, ../sass/screen.scss */
.uxu-login-box {
  float: right;
}
/* line 290, ../sass/screen.scss */
.uxu-login-box #wp-submit {
  width: 100%;
  padding: 0.5em 0;
}
/* line 294, ../sass/screen.scss */
.uxu-login-box #rememberme {
  float: left;
  width: auto;
}
/* line 298, ../sass/screen.scss */
.uxu-login-box .tml-action-links {
  margin: 1em 0;
  float: left;
  width: 100%;
}
/* line 303, ../sass/screen.scss */
.uxu-login-box .tml-action-links li {
  width: 50%;
  float: left;
}

/* my page start */
/* line 309, ../sass/screen.scss */
.uxu-user-page {
  width: 90%;
  padding: 1.5em 5%;
  border: solid 1px #000;
  padding: 2em 5%;
  border: solid 1px #000;
  margin-top: 2em;
}

/* line 315, ../sass/screen.scss */
.uxu-user-festival-pass {
  border-bottom: solid 1px #000;
  padding-bottom: 2em;
  margin-bottom: 2em;
}

/* line 321, ../sass/screen.scss */
.uxu-user-festival-pass-info h2, .uxu-user-festival-pass-info h3, .uxu-user-festival-pass-info a {
  text-align: left;
}
/* line 324, ../sass/screen.scss */
.uxu-user-festival-pass-info h3, .uxu-user-festival-pass-info a {
  font-size: 1.5em;
}

/* line 328, ../sass/screen.scss */
.uxu-share-pass-info {
  text-align: center;
  padding: 3em 0 2em 0;
  width: 100%;
}

/* line 333, ../sass/screen.scss */
.uxu-share-pass-info-btn {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: #68b481;
  max-width: 100%;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  max-width: 100%;
  font-size: 1.6em;
  padding: 0.5em 2em;
}
/* line 19, ../sass/screen.scss */
.uxu-share-pass-info-btn:hover {
  color: #000;
}

/* line 339, ../sass/screen.scss */
.uxu-user-other-products {
  overflow: hidden;
}

/* line 342, ../sass/screen.scss */
.products {
  width: 100%;
  float: left;
}
/* line 345, ../sass/screen.scss */
.products img, .products a {
  float: left;
  line-height: 50px;
}
/* line 349, ../sass/screen.scss */
.products h2 {
  float: left;
  padding-top: 0.2em;
  width: 30%;
  font-size: 1.6em;
  margin-bottom: 0;
}
/* line 356, ../sass/screen.scss */
.products img {
  margin-right: 2%;
}

/* line 360, ../sass/screen.scss */
.uxu-user-below {
  width: 90%;
  padding: 1.5em 5%;
  border: solid 1px #000;
  border: solid 1px #000;
  margin-top: 2em;
  overflow: hidden;
}

/* end user page */
/* line 367, ../sass/screen.scss */
.buy-product-button {
  padding: 0em 1.5em;
}

/* line 370, ../sass/screen.scss */
.uxu-product-list {
  width: 90%;
  padding: 1.5em 5%;
  border: solid 1px #000;
  border: solid 1px #000;
  overflow: hidden;
  margin-top: 2em;
  padding-top: 2.5em;
}

/*blogg */
/* line 378, ../sass/screen.scss */
#container {
  width: 90%;
  padding: 1.5em 5%;
  border: solid 1px #000;
  float: left;
  margin-top: 2em;
  padding-top: 3em;
}

/* line 384, ../sass/screen.scss */
.sticky {
  position: relative;
}
/* line 386, ../sass/screen.scss */
.sticky .uxu-date {
  display: none;
}
/* line 389, ../sass/screen.scss */
.sticky .inner-content {
  width: 100%;
  padding: 0;
  margin: 0;
}
/* line 394, ../sass/screen.scss */
.sticky .inner-text-content {
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  max-height: 50%;
  overflow: hidden;
  bottom: 0;
  padding: 1em 5%;
  width: 90%;
}
/* line 403, ../sass/screen.scss */
.sticky a {
  color: #000;
}

/* line 407, ../sass/screen.scss */
.uxu-date {
  width: 14%;
  float: left;
  border: solid 1px #000;
  padding: 2em 0;
  text-align: center;
  text-transform: uppercase;
}
/* line 414, ../sass/screen.scss */
.uxu-date span {
  display: block;
  width: 100%;
  font-size: 1.2em;
}
/* line 419, ../sass/screen.scss */
.uxu-date .uxu-date-date {
  font-size: 3em;
}

/* line 423, ../sass/screen.scss */
.inner-content {
  width: 80%;
  float: right;
  padding: 0 0 2em;
  margin-bottom: 2em;
}
/* line 428, ../sass/screen.scss */
.inner-content h2.content-header {
  margin: 0.5em 0;
  text-align: left;
}
/* line 432, ../sass/screen.scss */
.inner-content a.post-read-more {
  display: block;
  margin: 1em 0;
  color: #68b481;
}

/* line 438, ../sass/screen.scss */
.uxu-listning-item {
  overflow: hidden;
  width: 100%;
  margin: 2em 0;
}

/* line 443, ../sass/screen.scss */
.uxu-listning-image {
  float: left;
  width: 20%;
}

/* line 447, ../sass/screen.scss */
.uxu-listning-content {
  float: left;
  width: 78%;
  margin-left: 2%;
}
/* line 451, ../sass/screen.scss */
.uxu-listning-content h2 {
  text-align: left;
  margin-bottom: 0.3em;
}

/* line 457, ../sass/screen.scss */
.uxu-comments {
  overflow: hidden;
  margin: 2em 0;
}

/* line 461, ../sass/screen.scss */
.single .post {
  margin-top: 1em;
}

/* line 464, ../sass/screen.scss */
.single .artists {
  width: 90%;
  padding: 1.5em 5%;
  border: solid 1px #000;
  margin-top: 1em;
  padding-top: 0;
}
/* line 468, ../sass/screen.scss */
.single .artists h1 {
  margin-top: 0.5em;
}

/* line 472, ../sass/screen.scss */
.uxu-is-sticky {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #FFF;
  z-index: 1001;
}
/* line 479, ../sass/screen.scss */
.uxu-is-sticky .uxu-sticky-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
/* line 483, ../sass/screen.scss */
.uxu-is-sticky .uxu-change-lang {
  display: none;
}

/* line 487, ../sass/screen.scss */
.footer {
  margin-top: 4em;
  margin-bottom: 1em;
  overflow: hidden;
}
/* line 491, ../sass/screen.scss */
.footer .menu {
  text-transform: uppercase;
}
/* line 494, ../sass/screen.scss */
.footer li {
  display: inline-block;
  border-right: solid 1px #000;
}
/* line 497, ../sass/screen.scss */
.footer li a {
  display: block;
  padding: 0.2em 0.3em 0 0;
}

@media all and (max-width: 1199px) {
  /* if screen same as page, add margin */
  /* line 506, ../sass/screen.scss */
  .page #primary {
    width: 90%;
    padding: 1.5em 5%;
    border: solid 1px #000;
  }
  /* line 508, ../sass/screen.scss */
  .page #primary .main {
    width: 100%;
    padding: 0;
    border: none;
  }
}
@media all and (max-width: 999px) {
  /* line 516, ../sass/screen.scss */
  .uxu-ticket-status h3 {
    max-width: 50%;
  }

  /* line 519, ../sass/screen.scss */
  .uxu-date {
    width: 20%;
  }

  /* line 522, ../sass/screen.scss */
  .inner-content {
    width: 70%;
  }
}
@media all and (max-width: 749px) {
  /* line 528, ../sass/screen.scss */
  h1 {
    margin-top: 0.2em;
  }

  /* line 531, ../sass/screen.scss */
  .logo {
    width: 60%;
    margin: 1em 2%;
    float: left;
  }

  /* line 536, ../sass/screen.scss */
  .uxu-mobile-menu {
    float: right;
    margin-right: 2%;
    max-width: 38%;
    min-height: 44px;
    padding-top: 0.5em;
    display: block;
  }

  /* line 544, ../sass/screen.scss */
  .usermenu {
    width: 100%;
  }
  /* line 546, ../sass/screen.scss */
  .usermenu ul {
    position: static;
  }

  /* line 550, ../sass/screen.scss */
  .header-menu {
    display: none;
  }
  /* line 552, ../sass/screen.scss */
  .header-menu a.uxu-change-lang {
    width: 100%;
    text-align: center;
    position: static;
    float: left;
    padding: 0.5em 0;
  }

  /* line 560, ../sass/screen.scss */
  .header-menu li, .usermenu ul li {
    width: 100%;
    padding: 0.5em 0;
  }

  /* line 564, ../sass/screen.scss */
  .uxu-ticket-status {
    padding: 1em 5% 0.5em;
  }

  /* line 567, ../sass/screen.scss */
  .uxu-ticket-status h3 {
    max-width: 100%;
    width: 100%;
    text-align: center;
  }

  /* line 572, ../sass/screen.scss */
  .uxu-ticket-button {
    text-align: center;
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 1em;
  }

  /* line 579, ../sass/screen.scss */
  .uxu-ticket-button span {
    padding-left: 0;
  }

  /* line 582, ../sass/screen.scss */
  .uxu-next-step {
    width: 100%;
    padding-right: 0;
    text-align: center;
  }
  /* line 586, ../sass/screen.scss */
  .uxu-next-step p {
    display: inline;
    padding-left: 1%;
  }

  /* line 591, ../sass/screen.scss */
  .products h2 {
    width: 45%;
    text-align: left;
    line-height: 1.1em;
  }

  /* line 596, ../sass/screen.scss */
  .uxu-share-pass-info-btn {
    padding: 0.5em 1em;
  }

  /* line 600, ../sass/screen.scss */
  .uxu-date {
    width: 25%;
    padding: 1em 0;
  }

  /* line 604, ../sass/screen.scss */
  .inner-content {
    width: 73%;
  }

  /* line 607, ../sass/screen.scss */
  .uxu-login-register-box {
    width: 96%;
    margin: 1em 1%;
  }

  /* line 611, ../sass/screen.scss */
  .uxu-tml-text {
    width: 90%;
    margin: 1em 5%;
    padding: 0;
  }
}
